body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(246, 241, 246);
    }
    
 button {
    background-color: rgb(53, 17, 64);
    color: aliceblue;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    }
   
    

 
