@media (max-width: 768px) {
    .columns {
        flex-direction: column;
    }
    .columns p {
        padding: 5px 0;
    }
    .section p, ul {
        text-align: center;
    }
}
.body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #222;
    margin: 0;
    padding: 40px;
}
.section {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px 30px;
    margin-bottom: 25px;
}
.row {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }  
h1 {
    text-align: center;
    color: #165327;
    margin-bottom: 40px;
    font-size: 2em;
    text-transform: uppercase;
}
h2 {
    color: #165327;
    border-bottom: 2px solid #165327;
    padding-bottom: 6px;
    font-size: 1.3em;
    text-transform: uppercase;
}
.section p {
    font-size: 1em;
    margin: 8px 0;
    color: #333;
}
a {
    color: #165327;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    margin-top: 8px;
    padding-left: 20px;
}
li {
    margin-bottom: 6px;
}
.columns{
    display: flex;
    justify-content: space-between;   
}
.columns p {
    padding: 10px;
}
p.job_title{
    font-weight: bold;
    color: #4b2e83;
}
